/* Fonts import link */
/* font-family: 'Akaya Telivigala', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
/* All elements styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body styling */
body {
  width: 100vw;
  height: 100vh;
  font-family: "Akaya Telivigala", cursive, sans-serif;
}
/* Form styling */
form {
  margin: 20% auto;
  width: 50%;
  height: 50%;
}
form fieldset div {
  display: inline-block;
}
/* Left buttons styling */
form fieldset div button {
  display: block;
  width: 12rem;
  height: 3rem;
  margin: 1rem;
}
form fieldset div button:first-child {
  background-color: rgb(4, 171, 248);
}
form fieldset div button:nth-child(2) {
  background-color: orangered;
}
form fieldset div button:last-child {
  background-color: rgb(62, 210, 247);
}
button i {
  font-size: large;
  color: white;
}
.middle-line {
  border: silver 1px solid;
  width: 0;
  height: 11rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  top: 1rem;
  z-index: -1;
}
.circle {
  background-color: white;
  border: silver 1px solid;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;
  bottom: 4rem;
  right: 2.4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  color: silver;
}
