/* Fonts import link */
/* font-family: 'Akaya Telivigala', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
/* All elements styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body styling */
body {
  width: 100vw;
  height: 100vh;
  font-family: "Akaya Telivigala", cursive, sans-serif;
}
/* Form styling */
form {
  margin: 10% auto;
  width: 54%;
  height: 54%;
}
form fieldset div {
  display: inline-block;
}
/* Left buttons styling */
form fieldset div button {
  display: block;
  width: 20vw;
  height: 10vh;
  margin: 3rem;
  border-radius: 1rem;
}
/* First button individual styling */
form fieldset div button:first-child {
  background-color: rgb(4, 171, 248);
}
/* Seccond button individual styling */
form fieldset div button:nth-child(2) {
  background-color: orangered;
}
/* Third button individual styling */
form fieldset div button:last-child {
  background-color: rgb(62, 210, 247);
}
/* Buttons content styling */
button i {
  font-size: 2rem;
  color: white;
}
/* Middle line styling */
.middle-line {
  border: silver 1px solid;
  width: 0;
  height: 40vh;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  top: 4vh;
  opacity: 0.8;
  z-index: -1;
}
/* Circle styling */
.circle {
  background-color: white;
  border: silver 1px solid;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
  bottom: 9.5rem;
  right: 2.9rem;
  font-weight: bold;
  text-align: center;
  font-size: larger;
  padding-top: 0.8rem;
  color: silver;
}
#sign-in,
input,
.checkbox,
legend + div i {
  display: block;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: slategray;
  margin-bottom: 1.5vh;
}
#sign-in {
  font-size: 2.5rem;
  text-align: center;
  color: slategray;
  margin-top: 3rem;
}
.user {
  border: white;
  border-bottom: silver 1px solid;
  margin-right: auto;
  padding-left: 3rem;
}
legend + div i {
  bottom: -3.5vh;
  z-index: 1;
}
.checkbox input {
  display: inline-block;
  font-size: 1rem;
  margin-top: 3rem;
}

#submit-button {
  width: 7vw;
  height: 5vh;
  position: relative;
  bottom: 6.5vh;
  left: 13vw;
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
}
.click-buttons {
  width: 100%;
  height: 20%;
  padding-top: 2vh;
  padding-left: 15.5vw;
  font-size: 2rem;
  color: silver;
}
.click-buttons button {
  width: 10vw;
  height: 4vh;
  font-family: "Akaya Telivigala", cursive, sans-serif;
  font-size: 1.5rem;
  color: rgb(4, 171, 248);
  background-color: white;
  border: white;
}
